.navigation{
	/*position: relative;*/
	width: 100%;
	height: 50px;
	background-color: #F0F0F0;
	border-bottom: 5px solid #CCCCCC;
}

.navigation li {
	display: inline-block;
	margin-top: 15px;
	margin-right: 20px;

}
a{
	color:brown;
	text-decoration:none;
	font-size: 18px;
	padding: 15px;
}

a:hover{
	background-color: #CCCCCC;
	border-bottom: 5px solid #373737;
}

p{
	font-size: 18px; 
}